---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <!--<hr class="small">-->
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 postlist-container">
             <style type="text/css">
               h3 {
               	color: #A6A6A6
               }
               p {
			text-indent: 2em;
		  }
		  dl {
		      width: 100%;
		      overflow: hidden;hidden;
		      padding: 0;
		      margin: 0;
		  }
		  
		  dt {
		      float: left;
		      clear: left;
		      width: 40%;
		      padding-left: 40px;
		      margin-top: 5px
		  }
		  dd {
		      float: left;
		      width: 60%;
		      margin-top: 5px
		  }
		</style>
                {{ content }}
            </div>
	</div>
</div>
